:root{
    --libros__titulo: #fff;
    --fuentePrincipal: 'Handjet', cursive;

}



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.contenedor__libros{
    background-color: black;
    max-width: 120rem;
    margin: 0 10%;

}

body{
    background-color: black;
}
.titulo{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--libros__titulo);
    font-size: 4rem;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;


}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

.libro{
    padding: 1rem;
}
.libro__imagen{

    width: 100%;
}
.libro__informacion{
    font-family: var(--fuentePrincipal);

}
.libro__nombre{
    font-size: 4rem;
    

}

.libro__anio{
    font-size: 2.8rem;
    
}

.libro__nombre,
.libro__anio{
    margin: 1rem 0;
    text-align: center;
    color: var(--libros__titulo);
}